<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guía de Estudio - Inicio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
    </label>
</div>

<div class="container">
    <div id="menu">
        <div class="header-controls">
            <h1>Guía de Estudio : Bases de Datos 2 🚀</h1>
            
        </div>
        <a href="/summary" class="btn">Ver Apuntes Detallados</a>
        <a href="/quiz" class="btn">Generar Cuestionario</a>
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>